<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Sign in &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <div class="login">
    <form class="login-wrap">
      <img class="avatar" src="/public/img/default.png">
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong> 用户名或密码错误！
      </div> -->
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" class="form-control" name="email" placeholder="邮箱" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="密码">
      </div>
      <button class="loginbtn btn btn-primary btn-block" href="javascript:;">登 录</button>
    </form>
  </div>
</body>

<script src="/public/vendors/jquery/jquery.js"></script>
<script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
<script src="/public/vendors/layer/layer.js"></script>
<script>
  // ajax登录逻辑
  $(function(){
    $(".loginbtn").click(function(){
      var email = $.trim( $("input[name=email]").val() );
      var password = $.trim( $("input[name=password]").val() );
      // 校验数据
      if(email == "" || password == ""){
        layer.msg('邮箱或密码不能为空',{icon:2});
        return;
      }
      // fsdfsf234@yoo.com.cn
      var emailReg = /^\w+\@(?:\w+\.)+[a-zA-Z]{2,5}$/g;
      if(!emailReg.test(email)){
        layer.msg('邮箱格式非法',{icon:2});
        return;
      }
      // 获取表单数据，发送ajax请求
      var formData = $('.login-wrap').serialize();
      // 禁用按钮，给用户提示信息，说明正在登录
      var _this = $(this);
      _this.prop('disabled',true).html('玩命登录中...')
      $.post('/login',formData,function(res){
        if(res.code == 200){
          location.href = "/";
        }else{
          layer.msg(res.message,{icon:2});
          _this.prop('disabled',false).html('登录')
        }
      })
      
    })
  })
</script>
</html>
