<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Password reset &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
   {{  include "./navbar.html" }}
    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form class="form-horizontal" onsubmit="return false;">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" type="password" placeholder="旧密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="password" class="form-control" type="password" placeholder="新密码">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button type="submit" class="updPwdBtn btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{  include "./aside.html" }}
 

  <script src="/public/vendors/jquery/jquery.js"></script>
  <script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/public/vendors/layer/layer.js"></script>
  <script>
    
    $(function(){
      // ajax修改用户的密码
      $(".updPwdBtn").click(function(){
        //1.获取到三个值
        var oldPwd = $.trim( $("#old").val() );
        var newPwd = $.trim($("#password").val() );
        var confirmPwd =$.trim( $("#confirm").val() );
        //2.校验
        if(!oldPwd || !newPwd || !confirmPwd ){
          layer.msg('密码都不能为空',{icon:2});
          return;
        }
        
        if(newPwd !== confirmPwd ){
          layer.msg('两次密码不一致',{icon:2});
          return;
        }

        if(newPwd.length <= 6 ){
          layer.msg('新密码位数不能7位',{icon:2});
          return;
        }

        // 3.发送ajax请求，修改密码
        $.post('/savePwd',{oldPwd,newPwd,confirmPwd},function(res){
          var {code,message} = res;
          if(code == 200){
            layer.msg(message,{icon:1,time:1000},function(){
              location.href = "/";
            })

          }else{
            layer.msg(message,{icon:2})
          }
        })


      })
    })
  </script>
  <script>NProgress.done()</script>
</body>
</html>
