<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Add new post &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
      {{ include "./navbar.html" }}
    <div class="container-fluid">
      <div class="page-title">
        <h1>编辑文章</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form  class="row" onsubmit="return false;">
        <!-- 隐藏域。保存当前的文章ID -->
        <input type="hidden" name="post_id" value="{{data.post_id}}">
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">标题</label>
            <input id="title" class="form-control input-lg" name="title" value="{{data.title}}" type="text" placeholder="文章标题">
          </div>
          <div class="form-group">
            <label for="content">标题</label>
            <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10" placeholder="内容">{{data.content}}</textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="feature">特色图像</label>
            <!-- show when image chose -->
            <img class="help-block thumbnail" src="{{data.feature}}" style="display: block">
            <input id="feature" class="form-control"  type="file">
            <!-- 用于保存上传成功后的文件的路径 -->
            <input type="hidden" value="" name="feature">
            <!-- 保留文章编辑时候的原图片路径 -->
            <input type="hidden" value="{{data.feature}}" name="oldfeature">
            

          </div>
          <div class="form-group">
            <label for="category">所属分类</label>
            <select id="category" class="form-control" name="category">
              {{each catData}}
              <option value="{{$value.cat_id}}">{{$value.cat_name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="created">发布时间</label>
            <input id="created" class="form-control" name="created" value="{{data.created}}" type="text">
          </div>
          <div class="form-group">
            <label for="status">状态</label>
            <select id="status" class="form-control" name="status">
                {{each status}}
                <option value="{{$value.key}}">{{$value.text}}</option>
                {{/each}}
            </select>
          </div>
          <div class="form-group">
            <button id="updPost" class="btn btn-primary" type="button">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {{ include "./aside.html" }}

  <script src="/public/vendors/jquery/jquery.js"></script>
  <script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/public/vendors/layer/layer.js"></script>
  <script src="/public/vendors/laydate/laydate.js"></script>
  <script src="/public/vendors/moment/moment.js"></script>
  <script>NProgress.done()</script>
  <script>
     
    $(function(){
      // 初始化时间
      laydate.render({
        elem: '#created', //指定元素
        type: "datetime"
      });

      // 编辑入库
      $("#updPost").click(function(){
       
        // 旧图片路径
        var oldfeature = $("input[name='oldfeature']").val();
        // 获取新路径 
        var newfeature = $("input[name='feature']").val();
        
        // 如果newfeature为真用新图片路径，否则用旧图片
        var path = newfeature || oldfeature;
        //路径有两种情况  /public/111.png 或   ./pulic/111.png 
        // 把最开头的路径 ./ 或 / 替换成./
        path = path.replace(/^\.?\//,'./');
        //在重新赋值给name=feature表单，用于后续的序列化
        $("input[name='feature']").val(path);
        var formdata = $("form").serialize();
        $.ajax({
          url: "/updPost",
          data: formdata,
          type: 'post',
          success: function(res){
            if(res.code == 200){
              layer.msg(res.message);
              location.href = "/posts";
            }else{
              layer.msg(res.message,{icon:2});
            }
          }
        })
      })

      // ajax上传文件
      $("#feature").change(function(){
       
        // 要通过FormData获取文件的二进制数据（文件DOM对象.files[0]）
        if(this.files.length == 0){
          return;
        }

        var file = this.files[0];
        //把文件二进制数据设置到FormDate对象中
        var formData = new FormData();
        // 追加数据
        formData.append('feature',file);
        $.ajax({
          url: "/uploadFeature",
          data: formData,
          type: 'post',
          processData: false, // 将数据转换成对象，不对数据做处理，故 processData: false 
　　　　   contentType: false,    // 不设置数据类型
        }).then(res => {
           // 回显图片
            $(".thumbnail").attr('src','/'+res.fullPath).show();
            // 把图片的原路径设置隐藏域显示在表单中，方便序列化带到后台去存储
            $("input[name='feature']").val(res.fullPath);
        })

      })

      // 转换时间
      // var oldDate = $("#created").val();
      // var newDate = oldDate.replace(/\"/g,'');
      // console.log(newDate);
      // console.log( moment(newDate).format('YYYY-MM-DD HH:mm:ss') )
   
    })
  </script>
</body>
</html>
