<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Dashboard &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <script src="/public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
   {{ include './navbar.html' }}
    <div class="container-fluid">
      <div class="page-title">
        <h1>我的个人资料</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form class="form-horizontal" onsubmit="return false;">
        <div class="form-group">
          <label class="col-sm-3 control-label">头像</label>
          <div class="col-sm-6">
            <label class="form-image">
              <input id="avatar"  type="file">
              <input name="avatar"  type="hidden">
              <img id="img" src="{{photo}}">
              <i class="mask fa fa-upload"></i>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">邮箱</label>
          <div class="col-sm-6">
            <input id="email" class="form-control" name="email" type="type" value="{{email}}" placeholder="邮箱" readonly>
            <p class="help-block">登录邮箱不允许修改</p>
          </div>
        </div>
        <div class="form-group">
          <label for="nickname" class="col-sm-3 control-label">昵称</label>
          <div class="col-sm-6">
            <input id="nickname" class="form-control" name="nickname" type="type" value="{{nickname}}" placeholder="昵称">
            <p class="help-block">限制在 2-16 个字符</p>
          </div>
        </div>
        <div class="form-group">
          <label for="bio" class="col-sm-3 control-label">简介</label>
          <div class="col-sm-6">
            <textarea id="bio" name="intro" class="form-control" placeholder="Bio" cols="30" rows="6">{{intro}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="saveProfile btn btn-primary">更新</button>
            <a class="btn btn-link" href="/resetpwd">修改密码</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{ include './aside.html' }}
  

  <script src="/public/vendors/jquery/jquery.js"></script>
  <script src="/public/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/public/vendors/layer/layer.js"></script>
  <script>
    $(function(){
      // 更新用户信息
      $(".saveProfile").click(function(){
        var formData = $("form").serialize();
        $.post('/saveProfile',formData,(res) => {
          var {code,message} = res;
          if(code == 200){
            layer.msg(message,{icon:1},()=> location.href = '/' )
          }else{
            layer.msg(message,{icon:2} )
          }
        })
      });
    
      // 上传头像
      $("#avatar").change(function(){
       
        if(!this.files.length){
          return;
        }
         // 获取文件的二进制数据
        var file = this.files[0];
        var formData = new FormData();
        formData.append('feature',file); 
        $.ajax({
          url: "/uploadFeature",
          type: 'post',
          data: formData,
          contentType: false,
          processData: false,
          success: function(res){
            // 上传成功后，把路径设置在表单中隐藏域中，用于序列化提交到后台存储
            var {fullPath} = res
            console.log(fullPath)
            $("input[name='avatar']").val(fullPath); //  
            // 回显操作
            $("#img")[0].src = fullPath.replace('./','/'); // 替换成网站根目录
          }
        })
        
        
      })
    })
  
  </script>
  <script>NProgress.done()</script>
</body>
</html>
